body {
	font-family: Verdana, Verdana, Geneva, sans-serif;
}


/* table styles */
table {
	border: 1px;
}

.tableHeader {
	background-color:#CCC;
	width: 100%;
	height: 18px;
}

div.labels {
	width: 100%;
	float: left;
	padding: 1px;
}


/* page content */
#container {
	padding: 0px;
	width: 800px;
	margin-top: 5%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 115px;
	width:100%;
	background-image: url("../images/header.jpg");
    background-position: left top;
    background-repeat:no-repeat;
}

#menuBar {
	padding-top: 75px;
	height:40px;
	max-width: 100%;
	text-align:right;
	margin-right: 250px;

}

#sidebar {
	width:171px;
	min-height:83px;
	background-image: url("../images/sidebar.jpg");
    background-position: center top;
    background-repeat:no-repeat;
    float:left;
}

#footer {
	clear:both;
	width:100%;
	text-align:center;
}
.splitter {
	clear: both;
	width: 100%;
}

#contentFooter {
	margin-top: 20px;
	float:right;
	width: 629px;
	text-align:center;
}

#content {
	font-size: 80%;
	float:right;
	width: 629px;
	min-height: 300px;
}


/* MENU BUTTONS ------------------------------------------------------- */
.menuItem {
	text-decoration:none;
	font-size: 18px;
	font-weight:bold;
	color: #FFFFFF;
	margin: 10px;
	padding:2px 10px;
	text-align:center;
	border-style:solid;
	border-color:#FFFFFF;
	border-thickness:1px;
	background-color: #B0B0B0;
}

.menuItem:hover {
	color: #377CC9;
}

/* data input */
#inputtable {
	margin-left: auto;
    margin-right: auto;
	border: 0px solid;
	font-size: 80%;
	display: inline-block;
}

div.text {
	display: inline-block;
}

div.systemoptions {
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	width: 490px;
	border: 1px solid;
	font-size: 100%;
	float: middle;
	vertical-align:middle;
	padding: 1px;
	padding-top: 4px;
	padding-bottom: 0px;
}

div.systemconf {
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	width: 45%;
	border: 1px solid;
	font-size: 100%;
	float: left;
	padding: 2px;
}

div.systemstats {
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	width: 45%;
	border: 1px solid;
	font-size: 100%;
	float: right;
	padding: 2px;
}

div.location {
	margin-left: auto;
    margin-right: auto;
	width: 45%;
	border: 1px solid;
	font-size: 100%;
	float: left;
	padding: 2px;
}

div.rates {
	margin-left: auto;
    margin-right: auto;
	width: 45%;
	border: 1px solid;
	font-size: 100%;
	float: right;
	padding: 2px;
}



div.inputs {
	width: 100%;
	height: 25px;
	padding: 0px;
}


div.tooltip {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	font-size: 100%;
	font-weight: bold;
	color: 377cc9;
	float: left;
	padding: 0px;
	height: 30px;
	padding-top:5px;
	padding-bottom:0px;
}

div.tooltiperror {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	font-size: 100%;
	font-weight: bold;
	color: c93737;
	float: left;
	padding: 0px;
}



div.instructions {
	font-size: 75%;
	width: 100%;
}


input.calc {
	margin-left: auto;
    margin-right: auto;
    width: 100px;
	height: 25px;
	float: right;
	padding: 0px;
}

input.text {
	width: 70px;
	float: right;
	height: 22px;
	display: inline-block;
}

select.text {
	width: 70px;
	float: right;
	height: 22px;
	display: inline-block;
}

lable {
	height: 222px;
}


.powercalclink {
	display: inline-block;
	width: 104px;
	height: 32px;
	background: url('../images/TB_Calc.jpg') bottom;
}
.powercalclink:hover {
	background: url('../images/TB_Calc_Blue.jpg') bottom;
}

.costcalclink {
	display: inline-block;
	width: 104px;
	height: 32px;
	background: url('../images/TB_Help.jpg') bottom;
}
.costcalclink:hover {
	background: url('../images/TB_Help_Blue.jpg') bottom;
}

.aboutlink {
	display: inline-block;
	width: 64px;
	height: 32px;
	background: url('../images/TB_About.jpg') bottom;
}
.aboutlink:hover {
	background: url('../images/TB_About_Blue.jpg') bottom;
}

h1 {
	font-size:20px;
	margin:auto;
	text-align:center;
}

#hidden { 
	display: none; 
}

#unhidden {
	display: block;
}

#hidden2 { 
	display: none; 
}

#unhidden2 {
	display: block;
}