body {
	font-family: Verdana, Verdana, Geneva, sans-serif;
}


/* table styles */
table {
	border: 1px;
}

div.header {
	background-color:#CCC;
	width: 100%;
	height: 18px;
}

div.labels {
	width: 100%;
	float: left;
	padding: 1px;
}


/* page content */
#container {
	width: 671px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

#template {
	width:671px;
	height:198px;
	padding:0px;
	spacing:0px;
	border:0px;
	border-spacing:0px;
    border-collapse:collapse;

}

#template td {
	padding:0px;
	spacing:0px;
	border:0px;
}
	
h1 {
	font-size:20px;
	margin:auto;
	text-align:center;
}

/* data input */
div.inputtable {
	margin-left: auto;
    margin-right: auto;
	width: 499px;
	height: 200px;
	border: 0px solid;
	font-size: 80%;
	display: inline-block;
	float: right;
}

div.text {
	display: inline-block;
}

div.systemoptions {
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	width: 490px;
	border: 1px solid;
	font-size: 100%;
	float: middle;
	vertical-align:middle;
	padding: 1px;
	padding-top: 4px;
	padding-bottom: 0px;
}

div.systemconf {
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	width: 240px;
	border: 1px solid;
	font-size: 100%;
	float: left;
	padding: 1px;
	height: 90px;
}

div.systemstats {
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	width: 240px;
	border: 1px solid;
	font-size: 100%;
	float: right;
	padding: 1px;
	height: 90px;
}

div.location {
	margin-left: auto;
    margin-right: auto;
	width: 240px;
	border: 1px solid;
	font-size: 100%;
	float: left;
	padding: 1px;
	height: 90px;
}

div.rates {
	margin-left: auto;
    margin-right: auto;
	width: 240px;
	border: 1px solid;
	font-size: 100%;
	float: right;
	padding: 1px;
	height: 90px;
}



div.inputs {
	width: 100%;
	height: 25px;
	padding: 0px;
}


div.tooltip {
	margin-left: auto;
    margin-right: auto;
	width: 480px;
	font-size: 100%;
	float: left;
	padding: 0px;
	height: 25px;
	padding-top:5px;
}


input.calc {
	margin-left: auto;
    margin-right: auto;
    width: 100px;
	height: 25px;
	float: right;
	padding: 0px;
}

input.text {
	width: 70px;
	float: right;
	height: 22px;
	display: inline-block;
}

select.text {
	width: 70px;
	float: right;
	height: 22px;
	display: inline-block;
}

lable {
	height: 222px;
}


.powercalclink {
	display: inline-block;
	width: 104px;
	height: 32px;
	background: url('../images/TB_Calc.jpg') bottom;
}
.powercalclink:hover {
	background: url('../images/TB_Calc_Blue.jpg') bottom;
}

.costcalclink {
	display: inline-block;
	width: 104px;
	height: 32px;
	background: url('../images/TB_Help.jpg') bottom;
}
.costcalclink:hover {
	background: url('../images/TB_Help_Blue.jpg') bottom;
}

.aboutlink {
	display: inline-block;
	width: 64px;
	height: 32px;
	background: url('../images/TB_About.jpg') bottom;
}
.aboutlink:hover {
	background: url('../images/TB_About_Blue.jpg') bottom;
}
