body {
	font-family: Verdana, Verdana, Geneva, sans-serif;
}


/* table styles */
table {
	border: 1px;
}

div.header {
	background-color:#CCC;
	width: 100%;
	height: 18px;
}

div.labels {
	width: 100%;
	float: left;
	padding: 1px;
}


/* page content */
#container {
	width: 671px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

#template {
	width:671px;
	height:198px;
	padding:0px;
	spacing:0px;
	border:0px;
	border-spacing:0px;
    border-collapse:collapse;

}

#template td {
	padding:0px;
	spacing:0px;
	border:0px;
}
	
h1 {
	font-size:20px;
	margin:auto;
	text-align:center;
}

/* data input */
div.inputtable {
	margin-left: auto;
    margin-right: auto;
	width: 499px;
	height: 200px;
	border: 0px solid;
	font-size: 80%;
	display: inline-block;
	float: right;
	

}
div.text {
	display: inline-block;
}

div.systemconf {
	margin-left: auto;
    margin-right: auto;
	width: 240px;
	border: 1px solid;
	font-size:100%;
	float: left;
	padding: 1px;
}

div.systemstats {
	margin-left: auto;
    margin-right: auto;
	width: 240px;
	border: 1px solid;
	font-size:100%;
	float: right;
	padding: 1px;
}


input.calc {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 100px;
	height: 25px;
}


input {
	width: 80px;
	float: right;
	height: 22px;
	display: inline-block;
}

div.inputs {
	width: 100%;
	height: 25px;
	}




.powercalclink {
	display: inline-block;
	width: 104px;
	height: 32px;
	background: url('../images/TB_Power.jpg') bottom;
}
.powercalclink:hover {
	background: url('../images/TB_Power_Blue.jpg') bottom;
}

.costcalclink {
	display: inline-block;
	width: 104px;
	height: 32px;
	background: url('../images/TB_Cost.jpg') bottom;
}
.costcalclink:hover {
	background: url('../images/TB_Cost_Blue.jpg') bottom;
}

.aboutlink {
	display: inline-block;
	width: 64px;
	height: 32px;
	background: url('../images/TB_About.jpg') bottom;
}
.aboutlink:hover {
	background: url('../images/TB_About_Blue.jpg') bottom;
}
